body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: url("bg.jpeg") no-repeat fixed center;
	background-size: cover;
}

/* Titulo principal ( Tudo Pronto ) */
.question h1 {
	font-family: 'Montserrat' !important;
}

/* Descrição (clique no botão) */
.question p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
}

/* Texto todos os direitos reservados */
footer {
	
	font-size: 1.1rem;
}

.container {
	width: 700px;
	max-width: calc(90% - 40px);
	margin: 0 15px 0px 15px;
}

.black {
	background-color: white;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 0 10px 2px;
}

.answer {
	display: grid;
	grid-template-columns: repeat(1, auto);
	gap: 10px;
}

.btn {
	border-radius: 10px;
	padding: 10px 10px;
	font-size: 30px;;
	font-weight: bold;
	background-color: #f7ce6a;
	outline: none;
	color: white;
	text-decoration: none;
}

.black h1 {
	color: yellow;
}

.black p {
	font-size: 18px;
	color: white;
}

.container {
	border-radius: 16px;
	padding: 5px 20px 5px 20px;
	background-color: white;
}

.question h1, .question p {
	text-align: center;
	font-weight: 100;

}

.btn {
	font-family: 'montserrat';
	background-color: #2FEB00;
	text-align: center;
}

footer {
	padding: 15px;
}

@media only screen and (max-width: 500px){
	footer {
		font-size: 1rem;
	}

	.question h1 {
		font-size: 2rem;
		font-weight: 800;
	}

	.question p {
		font-size: 1.35rem;
	}

	.answer {
		font-size: 5rem;
	}
}
